body.light-theme {
    --page-bg: #ffffff;
    --button-black: #000000;
    --text: #000000;

    --accent: #2bed55;
    --grey: #f2f2f2;
}

body.dark-theme {
    --page-bg: #000000;
    --button-black: #ffffff;
    --text: #ffffff;

    --accent: #2bed55;
    --grey: #f2f2f2;
}