.container {
    width: min(1240px, calc(100vw));
}

h1 {
    font-size: 2.6rem;
    line-height: 2.8rem;
}
h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
}
h3 {
    font-size: 2.2rem;
    line-height: 2.4rem;
}
h4 {
    font-size: 2rem;
    line-height: 2.2rem;
}
h5 {
    font-size: 1.8rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.6rem;
    line-height: 1.8rem;
}
p {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

button.--btn_accent {
    font-size: 2rem;
    font-weight: 500;

    outline: none;
    border-radius: 4px;
    border: none;

    background-color: var(--accent);
    color: #000000;
    
    min-width: 18rem;
    max-width: 24rem;
    
    height: 6rem;

    padding: 1rem 2rem;
}
button.--btn_black {
    font-size: 2rem;
    font-weight: 500;

    outline: none;
    border-radius: 4px;
    border: none;

    background-color: var(--button-black);
    color: #ffffff;
    
    min-width: 18rem;
    max-width: 24rem;
    
    height: 6rem;

    padding: 1rem 2rem;
}